.botube__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.botube__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.botube__navbar-links_logo {
    margin-right: 2rem;
}

.botube__navbar-links_logo img {
    width: 62.56px;
}

.botube__navbar-links_container {
    display: flex;
    flex-direction: row;

}

.botube__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.botube__navbar-links_container p,
.botube__navbar-sign p,
.botube__navbar-menu_container p{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.botube__navbar-sign button,
.botube__navbar-menu_container button{
    padding: 0.5rem 1rem;
    color: #fff;
    background: #ff4820;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    left: 1153px;
    top: 55px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.botube__navbar-menu{
    margin-left: 1rem;

    display: none;
    position: relative;
}

.botube__navbar-menu svg{
    cursor: pointer;
}

.botube__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: self-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.botube__navbar-menu_container p{
    margin: 1rem 0;
}

.botube__navbar-menu_container-links-sign{
    display: none;
}

@media screen and (max-width: 1050px) {

    .botube__navbar-links_container{
        display: none;
    }

    .botube__navbar-menu{
        display: flex;
    }
    
}


@media screen and (max-width: 700px) {

   .botube__navbar{
    padding: 2rem 4rem;
   }
    
}

@media screen and (max-width:550px) {
    .botube__navbar{
        padding: 2rem;
    }

    .botube__navbar-sign{
        display: none;
    }

    .botube__navbar-menu_container{
        top: 20px;
    }

    .botube__navbar-menu_container-links-sign{
        display: block;
    }
    
}